<!DOCTYPE html>

<html lang="en">

<head>

<title>About Us</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">

<style>
.panel {
   
   
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    width: 800px;
    height: 150px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
}

img{
    float:right;
}

.bottompanel{
     margin-left:auto;
    margin-right:auto;
    padding: 0;
    width: 1000px;
    height: 150px;
    background-color: #f1f1f1;
}


</style>


</head>

<body>
   
<div class="panel panel-default" >
    <img src="blog_logo.png" style="width:100px;height:100px;">
    <div class="panel-body"><h1>The Blog site</h1>
      <h4>Your one-stop shop for internet blogs</h4>
     
    </div>
</div>


<div class="panel panel-default" >
   
    <div class="panel-body"  class="bottompanel">
      <h4><strong>The internet is abuzz with our blog content</strong></h4>
     
    </div>
</div>


   <script src="js/jquery-2.1.4.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/script.js"></script>
</body>
</html> 